<div class="container-fluid">
  <%= link_to "<< Back to Photojournalism", "/photojournalism" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card">
        <a href="/women" class="list-group-item">
          <div class="card-block">
            <h2 class="card-title">CHILDREN AROUND THE WORLD</h2>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354131/children%20around%20the%20world/Ipiales_Narin%CC%83o_Mama%CC%81_Indigena_90.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Ipiales Narino Mama', '/anoranza'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354140/children%20around%20the%20world/Jacarandoso_Quibdo%CC%81_Choco%CC%81.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Jacarandoso QuibdoÌ', '/jacarandoso'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354201/children%20around%20the%20world/Leticia_Bogota%CC%81_93clean_2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Leticia Bogota', '/leticia'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354248/children%20around%20the%20world/madrid1986.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Madrid 1986', '/madrid1986'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354270/children%20around%20the%20world/Mari%CC%81a_Paz_Gaviria-_oct_89.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Maria Paz Gaviria', '/mariapazgaviria'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354276/children%20around%20the%20world/Monterey_Me%CC%81xico_1993.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Monterey Mexico', '/monterey'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354282/children%20around%20the%20world/nin%CC%83osbus_2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Nino Bus', '/ninobus'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354291/children%20around%20the%20world/Paris_Children_Anarquia_1.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Paris, Children Anarquia', '/anarquia'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354351/children%20around%20the%20world/Presidente_Barco_Simo%CC%81n_Gaviria-90_2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Presidente Barco', '/presidentebarco'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353994/children%20around%20the%20world/Asombro_Plazuela_San_Ignacio_Mllin_1981.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Asombro Plazuela', '/asombro'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354001/children%20around%20the%20world/aztecaboy_finalRGB.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Azteca Boy', '/aztecaboy'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354008/children%20around%20the%20world/Childrenworking1_1.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Children Working', '/childrenworking'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354016/children%20around%20the%20world/Childrenworking2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Children Working 2', '/childrenworking'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354021/children%20around%20the%20world/Childrenworking5clean.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Children Working', '/childrenworking5'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354026/children%20around%20the%20world/Childrenworkingclean.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Children Working', '/childrenworking0'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354032/children%20around%20the%20world/El_Cartucho_868-92.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'El Cartucho 92', '/elcartucho92'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354038/children%20around%20the%20world/girls2_final.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Girls', '/girls2'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354105/children%20around%20the%20world/halloweensoldier.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Halloween Soldier', '/halloweensoldier'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354113/children%20around%20the%20world/IMG_0053.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Children around the World', '/children53'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354398/children%20around%20the%20world/Semana_Santa_Antioquia.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Semana Santa Antioquia', '/semana'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354407/children%20around%20the%20world/slide5_-_Version_2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'slide 5', '/slide5'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354376/children%20around%20the%20world/primeracomunio%CC%81n_1.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Primera Communion', '/primeracomunion'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354445/children%20around%20the%20world/Touring_through_Colombia.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Touring through Columbia', '/touring'%>
      </div>
    </div>

  </div>

</div>
