<div class="container-fluid">
  <%= link_to "<< Back to Photojournalism", "/photojournalism" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <a href="/women" class="list-group-item">
        <div class="card-overlay">
          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3>Images Around The World</h3>
              <p></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350752/images%20around%20the%20world/vendedorpanarabe_uep5pp.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Vendor Panarabe', '/vendor'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352870/images%20around%20the%20world/streetphotographer.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Street Photographer', '/streetphotographer'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352827/images%20around%20the%20world/sneakingaround.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Sneaking Around', '/sneakingaround'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352732/images%20around%20the%20world/simonbolivar2-1981.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Simon Bolivar', '/simonbolivar'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352794/images%20around%20the%20world/simonbolivar1981.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Simon Bolivar', '/simonbolivar2'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352688/images%20around%20the%20world/semanasanta1989.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Semana Santa', '/semanasanta'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("hhttp://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352654/images%20around%20the%20world/regazo88.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Regazo 88', '/regazo'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350745/images%20around%20the%20world/Reflejo_Soho-London_87_bdegmq.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Reflejo Soho', '/reflejosoho'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350744/images%20around%20the%20world/Nicegirls_London87_dqy76f.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Nice Girls', '/nicegirls'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350746/images%20around%20the%20world/nacional82_eyecxg.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Nacional', '/nacional'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350744/images%20around%20the%20world/Moroccoherbs_kb87f1.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Morocco Herbs', '/moroccoherbs'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350746/images%20around%20the%20world/Marruecos_ventas_32_1_fxsrki.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Marruecos Ventas', '/marruecosventas'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350742/images%20around%20the%20world/Londonbike_1_kwqsjo.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'London Bike', '/londonbike'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350740/images%20around%20the%20world/London_1987_atu75v.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'London 1987', '/london1987'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350739/images%20around%20the%20world/IMG_0098_tgyfsm.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'River', '/river'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350744/images%20around%20the%20world/gol-medellin_hq4pxl.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Gol! Medellin', '/gol'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350735/images%20around%20the%20world/Going_with_the_flow_London_87clean_2_dsw6tb.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Going with the Flow', '/goingwithflow'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352476/images%20around%20the%20world/dayofthedead3-1992.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Day of the Dead', '/dayofthedead3'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352373/images%20around%20the%20world/dayofthedead2-1992.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Day of the Dead', '/dayofthedead2'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352521/images%20around%20the%20world/dayofthedead1992.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Day of the Dead', '/dayofthedead'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350731/images%20around%20the%20world/corazo%CC%81n_de_jesu%CC%81s238_2_etwndq.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Corazon de Jesus', '/corazondejesus'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("hhttp://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350736/images%20around%20the%20world/ancianato_almoqy.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ancianato', '/ancianato'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477350739/images%20around%20the%20world/carabalo%CC%81nbasquet_mpaqwy.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Carabalon', '/carabalon'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353887/women%20around%20the%20world/vendedorpanarabe.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Vendedor Panarabe', '/vendedor'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353887/women%20around%20the%20world/vendedorpanarabe.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Vendedor Panarabe', '/vendedor'%>
        </div>
      </div>

    </div>

</div>
