<div class="container-fluid">
  <%= link_to "<< Back to Photojournalism", "/photojournalism" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <a href="/women" class="list-group-item">
        <div class="card-overlay">
          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3>JOBS</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                sed qui, dolorum!.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354617/jobs/22La_Carta_22_Quibdo%CC%81_Choco%CC%81_A_orillas_del_Atrato-90_2.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'La Carta, Quibido Choco', '/lacarta'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354669/jobs/Ballet_San_Fco.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ballet San Francisco', '/ballet'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354627/jobs/Ballet_San_Fco_2.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ballet San Francisco', '/ballet2'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354713/jobs/Barberi%CC%81a_Jerico%CC%81_Antioquia_93.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Barberia Antioqua 93', '/barberia'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354765/jobs/Costumbre_Pasto_93.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Costumbre Pasto', '/costumbre'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354771/jobs/Dorita_Fiel_a_Boteroclean_2.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Dorita Fiel', '/doritafiel'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354780/jobs/Getting_the_fruits_Armenia_2005.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Getting the Fruits, Armenia 05', '/armenia2005'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354852/jobs/New_York_street_seller.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'New York Street Seller', '/newyorkstreetseller'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354957/jobs/Si%CC%81n_Ti%CC%81tulo_London87.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Sin Titulo', '/sintitulo'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354971/jobs/skull_final.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Skull', '/skull'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354982/jobs/Soup_for_the_Prisoners.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Soup for the Prisoners', '/soupfortheprisoners'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477355045/jobs/Street_Photographer_Narin%CC%83o.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Street Photographer Narino', '/narino'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477355119/jobs/Trapiche_Haciendo_panela_Huila_93.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Trapiche Haciendo Panela Huila', '/trapichehaciendo'%>
        </div>
      </div>


    </div>

</div>
