<div class="container-fluid">
  <%= link_to "<< Back", :back %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <a href="/women" class="list-group-item">
        <div class="card-overlay">
          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3>Paramilitar</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                sed qui, dolorum!.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477352998/women%20around%20the%20world/ancianato.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ancianato', '/ancianato'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353000/women%20around%20the%20world/anoranza.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Anoranza', '/anoranza'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353147/women%20around%20the%20world/armenia2005.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'armenia 2005', '/armenia'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353002/women%20around%20the%20world/costumbre93.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Costumbre 93', '/costumbre'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353223/women%20around%20the%20world/dayofthedead1-1992.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Day of the Dead', '/dayofthedead1'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353257/women%20around%20the%20world/dayofthedead4-1992.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Day of the Dead', '/dayofthedead4'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353000/women%20around%20the%20world/desalojos.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Desalojos', '/desalojos'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353324/women%20around%20the%20world/despedida.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Despedida', '/despedida'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353408/women%20around%20the%20world/drugtraffickingwar.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'drug trafficking war', '/drugtraffickingwar'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353429/women%20around%20the%20world/harvester1992.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Harvester 1992', '/harvester'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353509/women%20around%20the%20world/ipiales90.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ipiales 90', '/ipiales'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353514/women%20around%20the%20world/khidki.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Khidki', '/khidki'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353520/women%20around%20the%20world/kika.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Kika', '/kika'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353568/women%20around%20the%20world/killingtime87.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Killing Time 87', '/killingtime'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353602/women%20around%20the%20world/losteros1981.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Losteros 1981', '/losteros'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353704/women%20around%20the%20world/maeugeniadavila2.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ma Eugenia Davila', '/maeugeniadavila'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353726/women%20around%20the%20world/monterey1993.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Monterey 1993', '/monterey'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353756/women%20around%20the%20world/mujercantinaleche.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Mujer Cantina Leche', '/mujercantinaleche'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353844/women%20around%20the%20world/plazadebolivar.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Plaza de Bolivar', '/plazadebolivar'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353860/women%20around%20the%20world/plazademercado83.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Plaza del Mercado 83', '/plazadelmercado'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353881/women%20around%20the%20world/primeracomunion.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Primera Communion', '/primeracomunion'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353887/women%20around%20the%20world/vendedorpanarabe.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Vendedor Panarabe', '/vendedor'%>
        </div>
      </div>

    </div>
  
</div>
