<div class="container-fluid">
  <%= link_to "<< Back to Photojournalism", "/photojournalism" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card-overlay">
        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3>Peace Process</h3>
            <p></p>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess1.jpg", :class => "show-img img-responsive") %>
        <div class="panel-body">
          <%= link_to 'Peace Process', '/peace1'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360566/peace/peaceprocess2.jpg", :class => "show-img img-responsive") %>
        <div class="panel-body">
          <%= link_to 'Peace Process', '/peace2'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess3.jpg", :class => "show-img img-responsive") %>
        <div class="panel-body">
          <%= link_to 'Peace Process', '/peace3'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess4.jpg", :class => "show-img img-responsive") %>
        <div class="panel-body">
          <%= link_to 'Peace Process', '/peace4'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess6.jpg", :class => "show-img img-responsive") %>
        <div class="panel-body">
          <%= link_to 'Peace Process', '/peace6'%>
        </div>
      </div>

    </div>

</div>
