<div class="container-fluid">
  <%= link_to "<< Back to Photojournalism", "/photojournalism" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <a href="/women" class="list-group-item">
        <div class="card-overlay">
          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3>Urban Scenes</h3>
              <p></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("hhttp://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360306/urban%20scenes/ecopetrol.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Eco Petrol', '/ecopetrol'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360380/urban%20scenes/edificio81.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Edificio 81', '/edificio'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360414/urban%20scenes/laexquisita1989.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'La Exquisita 1989', '/laexquisita'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360426/urban%20scenes/maeugeniadavila.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Ma Eugenia Davila', '/maeugeniadavila'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360466/urban%20scenes/plazadelaiglesiaveracruz82.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Plaza dela Iglesia Veracruz 82', '/plazadelaiglesia'%>
        </div>
      </div>
      <div class="box panel panel-default">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360457/urban%20scenes/postalgaleria.jpg", :alt => "peace process") %>
        <div class="panel-body">
          <%= link_to 'Postal Galeria', '/postalgaleria'%>
        </div>
      </div>


    </div>

</div>
