<h1>women</h1>

<div id="owl-demo">
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--dRHj1yeJ--/c_scale,h_550,w_auto/v1477338463/kitehill024_zia9rc.jpg") %></div>
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--K95FTAUE--/c_scale,h_550,w_auto/v1477338462/15720029_yojour.jpg") %></div>
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--0SfUj93M--/c_scale,h_550,w_auto/v1477338462/china_camp027_opavxf.jpg") %></div>
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--BtYl3d4S--/c_scale,h_550,w_auto/v1477338462/china_camp024_copy_hkistn.jpg") %></div>
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--gdz6WGGA--/c_scale,h_550,w_auto/v1477338462/beach_person_riasmn.jpg") %></div>
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--nESWvkNV--/c_scale,h_550,w_auto/v1477338462/china_camp023_copy_gu2hhh.jpg") %></div>
  <div class="item"><%= image_tag("http://res.cloudinary.com/lce3spnbi/image/upload/s--VUWD0K8g--/c_scale,h_550,w_auto/v1477338462/china_camp022_d5jljf.jpg") %></div>
</div>
