<div class="container-fluid">
  <%= link_to "<< Back to Exhibitions & Awards", "/exhibitions" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card-overlay">
        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3>Faces of Columbia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
              sed qui, dolorum!.</p>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("https://res-3.cloudinary.com/dkfv3dxyb/image/upload/t_media_lib_thumb/v1477377564/e%20-%20faces%20of%20colombia/Faces_of_Colombia_Opening_March_08.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Faces of Columbia', '/facesofcolumbia'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360566/peace/peaceprocess2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peace Process', '/peace2'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess3.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peace Process', '/peace3'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess4.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peace Process', '/peace4'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess6.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peace Process', '/peace5'%>
      </div>
    </div>

  </div>

</div>
