<div class="container-fluid">
  <%= link_to "<< Back to Exhibitions & Awards", "/exhibitions" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card-overlay">
        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3>Caras del Conflicto</h3>
            <p>
              Infrarojo : Faces of the Conflict, is a Portfolio of 12 Images depicting the war and conflicts that Colombia has been facing for more than 50 years. This Portfolio was awarded for the National Center of the Historical Memory  of Colombia , CNMH, in 2014.
Infrared, Histories of Light that are not Seen is part of the 2014 Photography Call of CNMH.
            </p>
            </div>
          </div>
        </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353324/women%20around%20the%20world/despedida.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Dios te Bendiga', '/despedida'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369545/e%20-%20infrarojo/patrullando.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Patrullando', '/patrullando'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369549/e%20-%20infrarojo/sinhorizonte.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Sin Horizonte', '/sinhorizonte'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353000/women%20around%20the%20world/desalojos.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Desalojos en Guayaquil', '/desalojos'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess3.jpg", :class => "show-img img-responsive") %>
      <div class="panel-body">
        <%= link_to 'Dialogos de Paz', '/peace3'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369548/e%20-%20infrarojo/carlospizarro.jpg", :class => "show-img img-responsive") %>
      <div class="panel-body">
        <%= link_to 'El Comandante Papito', '/carlospizarro'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369545/e%20-%20infrarojo/sinpalabras.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Sin Palabras', '/sinpalabras'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369548/e%20-%20infrarojo/dejaciondearmas.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Dejacion de Armas', '/dejaciondearmas'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360505/paramilitar/Paramilitar_Co%CC%81rdoba95_-_Version_2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Cabezas Rojas', '/cordoba95'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360511/paramilitar/paras2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Cabezas Rojas', '/paras2'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369546/e%20-%20infrarojo/elcartucho.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'El Cartucho', '/elcartucho'%>
      </div>
    </div>

    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369547/e%20-%20infrarojo/cartamagna.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Carta Magna', '/cartamagna'%>
      </div>
    </div>




  </div>

</div>
