<div class="container-fluid">
  <%= link_to "<< Back to Exhibitions & Awards", "/exhibitions" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card-overlay">
        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3>Lejos de Holgar</h3>
            <p>Latino Photo Project</p>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369612/e%20-%20latino%20photo%20proj/aztecaboy_finalRGB.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Azteca Boy', '/aztecaboy'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369612/e%20-%20latino%20photo%20proj/boyandcows_final.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Boys and Cows', '/boysandcows'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369614/e%20-%20latino%20photo%20proj/candle_final_-_Version_2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Candle', '/candle'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369617/e%20-%20latino%20photo%20proj/comidatipica_final_copy.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Comida Tipica', '/comidatipica'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369613/e%20-%20latino%20photo%20proj/couple3_finalRGB.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Couple', '/couple'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369615/e%20-%20latino%20photo%20proj/girls2_final.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Girls', '/girls'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369615/e%20-%20latino%20photo%20proj/IMG_1503.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'latino photo project', '/latinophoto'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369615/e%20-%20latino%20photo%20proj/Kika_at_Yoga_lessons_Dance_Palace.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Kika at Yoga Lessons', '/kikaatyoga'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369620/e%20-%20latino%20photo%20proj/KikaBW_finalRGB.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Kika', '/kika'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369616/e%20-%20latino%20photo%20proj/mariachi1_final.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Mariachi', '/mariachi'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369616/e%20-%20latino%20photo%20proj/skull_final.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Skull', '/skull'%>
      </div>
    </div>

  </div>

</div>
