<div class="container-fluid">
  <%= link_to "<< Back to Exhibitions & Awards", "/exhibitions" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card-overlay">
        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3>Old & Homeless in Sonoma County</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
              sed qui, dolorum!.</p>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369787/e%20-%20old%20and%20homeless/peggylee.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peggy Lee', '/peggylee'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369786/e%20-%20old%20and%20homeless/peggylee2006.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peggy Lee 2006', '/peggylee2006'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369787/e%20-%20old%20and%20homeless/PressDemocratluchi.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Focus on the Forgotten', '/forgotten'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369787/e%20-%20old%20and%20homeless/Pressdemocratluchi2.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Focus on the Forgotten', '/forgottenpress'%>
      </div>
    </div>


  </div>

</div>
