<div class="container-fluid">
  <%= link_to "<< Back to Exhibitions & Awards", "/exhibitions" %>
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card-overlay">
        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3>Recycler</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
              sed qui, dolorum!.</p>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369726/e%20-%20recyclers/elcartucho92.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'El Cartucho 92', '/elcartucho92'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369722/e%20-%20recyclers/laflaca92.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'La Flaca', '/laflaca'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369721/e%20-%20recyclers/lapastora.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'La Pastora', '/lapastora'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369546/e%20-%20infrarojo/elcartucho.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'El Cartucho', '/elcartucho1'%>
      </div>
    </div>

  </div>

</div>
