<div class="container-fluid">
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card">
        <a href="/exhibitions" class="list-group-item">
          <div class="card-block">
            <h2 class="card-title">EXHIBITIONS & AWARDS</h2>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel">
      <div class="card">
        <a href="/retrospective" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">25 Years Retrospective</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess1.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel">
      <div class="card">
        <a href="/infrarojo" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Infrarojo</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_770,w_auto/v1477369549/e%20-%20infrarojo/sinhorizonte.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <div class="card">
        <a href="/lejos" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Lejos Del Holgar</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_770,w_auto/v1477369613/e%20-%20latino%20photo%20proj/couple3_finalRGB.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <div class="card">
        <a href="/bwb" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Business War Business</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477455101/e%20-business%20war%20business/ERR.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <div class="card">
        <a href="/faces" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Faces Of Colombia</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477377564/e%20-%20faces%20of%20colombia/Faces_of_Colombia_Opening_March_08.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <div class="card">
        <a href="/old" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Old & Homeless</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369787/e%20-%20old%20and%20homeless/peggylee.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <div class="card">
        <a href="/recyclers" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Recyclers</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369546/e%20-%20infrarojo/elcartucho.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <div class="card">
        <a href="/cesar" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Cesar Garvia</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369682/e%20-%20political%20campaign/ruedadeprensagaviria.jpg", :class => "thumbnail") %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="card-block">
          </div>
        </a>
      </div>
    </div>

  </div>

</div>
