<div class="container-fluid">
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card">
          <div class="card-block">
            <h2 class="card-title">Interviews & Features</h2>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
      </div>
    </div>
    <div class="box panel">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">SF CAMERAWORK</h4>
            <h6 class="card-subtitle text-muted">Fourth World Exhibit & SF Camerawork Auction</h6>
          </div>
          <%= image_tag("http://static1.squarespace.com/static/520d370ae4b01247d7147364/t/525890a8e4b00d699d0a738f/1476925119775/?format=1000w", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Sample Text - Write up by Ramon Nuez</p>
              <%= link_to 'SF Camerawork Fourth World', 'http://www.sfcamerawork.org/fourth-world/' %>
              <%= link_to 'Artpractical.com - Fourth World', 'http://www.artpractical.com/review/fourth-world-current-photography-from-colombia/' %>
              <%= link_to 'KQED - Colombian Photography Captures an Unfamiliar Fourth World', 'https://ww2.kqed.org/arts/2015/09/21/colombian-photography-captures-an-unfamiliar-fourth-world/' %>
          </div>
      </div>
    </div>
    <div class="box panel">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">Latinos Behind The Lens</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369616/e%20-%20latino%20photo%20proj/mariachi1_final.jpg", :class => "thumbnail") %>
          <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_770,w_auto/v1477369613/e%20-%20latino%20photo%20proj/couple3_finalRGB.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Sample Text - Write up by Ramon Nuez</p>
            <%= link_to 'Ramon Nuez Article', 'https://ramonbnuezjr.wordpress.com/2013/10/30/luz-elena-castro-discusses-the-art-of-photojournalism' %>

          </div>
      </div>
    </div>
    <div class="box panel">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">Infrarojo</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <%= image_tag("http://www.centrodememoriahistorica.gov.co/media/k2/items/cache/d3c03086cab461fc863b41116de50c43_XL.jpg", :class => "thumbnail") %>
          <div class="card-block">
            <p class="card-text">Historias de luz que no se ven.</p>
            <%= link_to 'Centro de Memoria Historica', 'http://www.centrodememoriahistorica.gov.co/noticias/noticias-cmh/ganadores-de-la-convocatoria-infrarrojo-historias-de-luz-que-no-se-ven' %>

          </div>
      </div>
    </div>


  </div>

</div>
