<div class="container-fluid">

  <div class="panel">
    <div class="card">
      <blockquote class="quote-card">
        <p>"As A Photojournalist, I Strive To Capture Ordinary Moments That Speak in Extraordinary Ways..."  </p>
      </blockquote>
    </div>
    <div class="panel">
      <%= image_tag('http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387861/about%20me/ladiesroom90.jpg', class: 'luz') %>
        <h3>"Since the beginning of my career, </h3>
        <p class="hometext">I have felt a special connection with the forgotten people of the world.  They are a very important part of my work. With photos
          of their faces, dramas, and daily life, I have tried to call people's attention to them.
          In spite of their situation, poverty, abandonment, and misery, there is a strength that comes out of their spirits.  I strive to capture it.
          As a Photographer, I strive to capture an instant where life reveals a moment of truth. I use my camera as a tool to depict these unique moments, each one of which contains a story. These images stand by themselves, where ordinary people become famous for a moment, these moments become documents, icons of life. These photographs were published as editorial images during my time as a staff photographer, and as a freelance documentary photojournalist."

        </p>
        <div class="row">
          <div class="col-sm-9 col-md-3">
              <%= image_tag('http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387870/about%20me/castro-castro93.jpg', class: 'card-img thumbnail img-responsive') %>
              <div class="caption">
                <p> Castro y Castro</p>
              </div>
            </div>

          <div class="col-sm-9 col-md-3">
              <%= image_tag('http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387868/about%20me/With_Arafat_1995.jpg', class: 'card-img thumbnail img-responsive') %>
              <div class="caption">
                <p>With Arafat</p>
              </div>
            </div>

          <div class="col-sm-9 col-md-3">
              <%= image_tag('http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387875/about%20me/gabrielgarciamarquez.jpg', class: 'card-img thumbnail img-responsive') %>
              <div class="caption">
                <p>With Gabriel Garcia Marquez</p>
              </div>
            </div>

          <div class="col-sm-9 col-md-3">
              <%= image_tag('http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387857/about%20me/felipegonzalez92.jpg', class: 'card-img thumbnail img-responsive') %>
              <div class="caption">
                <p>With Felipe Gonzalez</p>
              </div>
          </div>

        </div>
    </div>

</div>
