<h1>collections</h1>

<div id="album" class="transitions-enabled">
  <div class="box panel panel-default">
    <%= image_tag("desalojos.jpg", :alt => "desalojos") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("emergencyexit.jpg", :alt => "desalojos") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("plazadebolivar.jpg", :alt => "bolivar") %>

    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("ancianato.jpg", :alt => "ancianato") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("ipiales.jpg", :alt => "ipiales") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("junin.jpg", :alt => "junin") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("legandodemexico.jpg", :alt => "legandodemexico") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("leticia.jpg", :alt => "leticia") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("peaceprocess1.jpg", :alt => "peaceprocess1") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("peaceprocess2.jpg", :alt => "peaceprocess2") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("peaceprocess3.jpg", :alt => "peaceprocess3") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("peaceprocess4.jpg", :alt => "peaceprocess4") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("peaceprocess6.jpg", :alt => "peaceprocess6") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("ruedadeprensagaviria.jpg", :alt => "ruedadeprensagavira") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("santamarta.jpg", :alt => "santamarta") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("santander.jpg", :alt => "santander") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("segadora.jpg", :alt => "segadora") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("streetphotographer.jpg", :alt => "streetphotographer") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("veloriodecarlospizarro.jpg", :alt => "veloriodecarlospizarro") %>
    <div class="panel-body">
      Desalojos
    </div>
  </div>
</div>
