<div class="container-fluid">
  <div id="album" class="transitions-enabled">
    <div class="box panel">
      <div class="card">
        <a href="/women" class="list-group-item">
          <div class="card-block">
            <h2 class="card-title">PHOTOJOURNALISM</h2>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
        </a>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess1.jpg", :alt => "peace process") %>
      <div class="panel-body">
        <%= link_to 'Peace Process EPL, Popular Liberation Army', '/peace'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477353000/women%20around%20the%20world/desalojos.jpg", :alt => "desalojos") %>
      <div class="panel-body">
        <%= link_to 'Women Around The World', '/women'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477354398/children%20around%20the%20world/Semana_Santa_Antioquia.jpg", :alt => "semana") %>
      <div class="panel-body">
        <%= link_to 'Children Around The World', '/children'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477352870/images%20around%20the%20world/streetphotographer.jpg", :alt => "street photographer") %>
      <div class="panel-body">
        <%= link_to 'Images Around The World', '/images'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360306/urban%20scenes/ecopetrol.jpg", :alt => "ecopetrol") %>
      <div class="panel-body">
        <%= link_to 'Urban Scenes', '/urban'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360511/paramilitar/paras2.jpg", :alt => "paramilitar") %>
      <div class="panel-body">
        <%= link_to 'Paramilitar, Colombia', '/para'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477355119/jobs/Trapiche_Haciendo_panela_Huila_93.jpg", :alt => "trapiche") %>
      <div class="panel-body">
        <%= link_to 'Jobs', '/jobs'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360598/cyclists/vueltacolombia1.jpg", :alt => "vuelta") %>
      <div class="panel-body">
        <%= link_to 'Colombian Cyclists', '/cyclists'%>
      </div>
    </div>
    <div class="box panel panel-default">
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360842/pickpocket/mujerescarteristas2-1984.jpg", :alt => "mujeres") %>
      <div class="panel-body">
        <%= link_to 'Pick Pocket Women, Medellin 1982', '/pick'%>
      </div>
    </div>
  </div>
</div>
