<h1>Photojournalism</h1>
<div id="album" class="transitions-enabled">
  <div class="box panel panel-default">
    <%= image_tag("peaceprocess1.jpg", :alt => "peace process") %>
    <div class="panel-body">
      <%= link_to 'Peace Process EPL, Popular Liberation Army', '/peace'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("desalojos.jpg", :alt => "desalojos") %>
    <div class="panel-body">
      <%= link_to 'Women Around The World', '/women'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("semana.jpg", :alt => "semana") %>
    <div class="panel-body">
      <%= link_to 'Children Around The World', '/children'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("streetphotog.jpg", :alt => "street photographer") %>
    <div class="panel-body">
      <%= link_to 'Images Around The World', '/images'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("ecopetrol.jpg", :alt => "ecopetrol") %>
    <div class="panel-body">
      <%= link_to 'Urban Scenes', '/urban'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("paramilitar.jpg", :alt => "paramilitar") %>
    <div class="panel-body">
      <%= link_to 'Paramilitar, Colombia', '/para'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("trapiche93.jpg", :alt => "trapiche") %>
    <div class="panel-body">
      <%= link_to 'Jobs', '/jobs'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("khidki.jpg", :alt => "window") %>
    <div class="panel-body">
      <%= link_to 'Around An Indian Wedding', '/around'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("vuelta.jpg", :alt => "vuelta") %>
    <div class="panel-body">
      <%= link_to 'Colombian Cyclists', '/cyclists'%>
    </div>
  </div>
  <div class="box panel panel-default">
    <%= image_tag("mujeres1984.jpg", :alt => "mujeres") %>
    <div class="panel-body">
      <%= link_to 'Pick Pocket Women, Medellin 1982', '/pick'%>
    </div>
  </div>
</div>
