  <div id="owl-demo" class="owl-carousel owl-theme">
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477350744/images%20around%20the%20world/gol-medellin_hq4pxl.jpg", :alt => "goal") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477353844/women%20around%20the%20world/plazadebolivar.jpg", :alt => "bolivar") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477353000/women%20around%20the%20world/desalojos.jpg", :alt => "desalojos") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360306/urban%20scenes/ecopetrol.jpg", :alt => "ecopetrol") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360426/urban%20scenes/maeugeniadavila.jpg", :alt => "maeugeniadavila") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477354398/children%20around%20the%20world/Semana_Santa_Antioquia.jpg", :alt => "semana") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477352870/images%20around%20the%20world/streetphotographer.jpg", :alt => "streetphotographer") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess1.jpg", :alt => "peaceprocess1") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477369685/e%20-%20political%20campaign/santander.jpg", :alt => "santander") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477350736/images%20around%20the%20world/ancianato_almoqy.jpg", :alt => "ancianato") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477369548/e%20-%20infrarojo/carlospizarro.jpg", :alt => "carlospizarro") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477355119/jobs/Trapiche_Haciendo_panela_Huila_93.jpg", :alt => "trapichehaciendopanela") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477369545/e%20-%20infrarojo/patrullando.jpg", :alt => "patrullando") %></div>
    <div><%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360598/cyclists/vueltacolombia1.jpg", :alt => "vuelta") %></div>
  </div>
