<div id="owl-demo" class="owl-carousel">
  <div><%= image_tag("gol-medellin.jpg", :alt => "goal") %></div>
  <div><%= image_tag("plazadebolivar.jpg", :alt => "bolivar") %></div>
  <div><%= image_tag("desalojos.jpg", :alt => "desalojos") %></div>
  <div><%= image_tag("ecopetrol.jpg", :alt => "ecopetrol") %></div>
  <div><%= image_tag("peaceprocess4.jpg", :alt => "peace process") %></div>
  <div><%= image_tag("semana.jpg", :alt => "semana") %></div>
  <div><%= image_tag("streetphotog.jpg", :alt => "streetphotographer") %></div>
  <div><%= image_tag("peaceprocess1.jpg", :alt => "peaceprocess1") %></div>
  <div><%= image_tag("santander.jpg", :alt => "santander") %></div>
  <div><%= image_tag("ancianato.jpg", :alt => "ancianato") %></div>
  <div><%= image_tag("junin.jpg", :alt => "junin") %></div>
  <div><%= image_tag("ruedadeprensagaviria.jpg", :alt => "ruedadeprensagaviria") %></div>
  <div><%= image_tag("legandodemexico.jpg", :alt => "legandodemexico") %></div>
  <div><%= image_tag("vuelta.jpg", :alt => "vuelta") %></div>

</div>
